body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.edit-window{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 243, 243);
    padding: 40px;
    width: 350px;
    border-width: 0;
    border-style: solid;
    border-radius: 10px;
    flex-direction: column;
    gap:10px;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

input{
    outline: 0;
}


#window-name{
    font-weight: bolder;
    font-size: 14px;
}

.edit-window button{
    width: 100%;
  
}                            

.edit-window img{
    position: absolute;
    left:395px;
    top:20px;
    height: 16px;
}

.edit-element{
    display: flex;
    flex-direction: column;
    gap:3px;
}

.edit-element input{
    width: 100%;
}

.edit-element label{
    font-size: 11px;
    font-weight: bolder;
}