html,
body,
#frame,
table,
.owerlay,
.edit-window button,
.edit-element input{
     width: 100%;
}

html,
body,
.owerlay{
    height: 100%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(217, 217, 217);
}

header,
header #menu,
#title,
form,
.edit-element{
    display:flex;
}

header,
.edit-element,
.edit-window{
    flex-direction: column;
}

#title span,
header > label{
    text-transform: uppercase;
}

header > label,
#title span,
#window-name,
.edit-element label{
    font-weight: bolder;
}

header > label,
#content{
    margin: 20px;
}

header #menu{
    padding-left:  20px;
    background-color: rgb(60, 57, 57);
}

.menu-item,
th,td {
    text-align: center;
}

.menu-item {
    padding: 10px;
    width: 90px;
    color: rgb(217, 217, 217);
    font-size: 14px;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: rgb(217, 217, 217);
}

.menu-item:hover ,
.menu-item label:hover{
    cursor: pointer;
}

.selected-item{
    border-width: 0 0 3px 1px;
    border-color: transparent transparent green rgb(217, 217, 217);
}

#title,
form{
    justify-content: space-between;
}

#title{
   
    align-items: center;
    margin-bottom: 20px;
}

button,
#sort select{
    vertical-align: middle;
}

#search{
    margin-bottom: 20px;
}

button,
th,td{
    border-width: 1px;
}

button{
    border-radius: 3px;
    background-color: rgb(202, 201, 201);
    font-size: 10px;
}

#title button{
    padding: 3px 30px 3px 30px ;
}

#title span,
header > label{
    color: green;
}

#sort select,
form input{
    width: 100px;
}

#sort select{
    height: 20px;
}

form{
     padding-top: 10px;
}

form span,
#title span{
    font-size: 12px;
}

form input,
#sort select,
iframe{
    outline: none;
}

form button{
    padding: 3px 0 3px 0 ;
    width: 60px;
}

table{
    border-collapse: collapse;
}

th,td{
    border-style: solid;
    font-size: 13px;
    padding: 10px;
}

 .edit,
 .remove,
 .return,
 .edit-window img{
    height: 16px;
}
                                                       
thead {
    background-color: rgb(186, 183, 183);
    position: sticky;
    top: -1px; 
}

.edit-window,
.owerlay,
.edit-window img{
    position: fixed;
}

.edit-window,
.owerlay{
    display: none;
}

.edit-window{
    background-color: rgb(247, 243, 243);
    padding: 40px;
    width: 350px;
    border-width: 0;
    border-style: solid;
    border-radius: 10px;
    gap:10px;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    outline: 0;
}

#window-name{
    font-size: 14px;
}

.edit-window img{
    left:395px;
    top:20px;
}

.edit-element{
    gap:3px;
}

.edit-element label{
    font-size: 11px;
}
.owerlay{
    top:0;
    background-color: black;
    opacity: 0.8;
}